---
layout: default
permalink: none
title: Four o four
---

{% block content %}
    <h2>Page not found</h2>

    <p class="lead">Here is a tractor instead!</p>

    <img src="{{ site.url }}/images/kubota/kubota-l210-2.jpg" />
{% endblock %}

{% block head_scripts %}
    <script type="text/javascript">
        var redirects = {
            "/post/31292541379/ruler-a-simple-stateless-production-rules-engine": "/posts/2012/09/10/ruler-a-simple-stateless-production-rules-engine/",
            "/post/30490196727/mongodb-tailable-cursors": "/posts/2011/03/16/mongodb-tailable-cursors/",
            "/post/31080076112/doctrine-dbal-php-database-abstraction-layer": "/posts/2012/09/07/doctrine-dbal-php-database-abstraction-layer/",
            "/post/70915418483/sending-safari-push-notifications-with-php": "/posts/2013/12/23/sending-safari-push-notifications-with-php/",
            "/post/100323765531/forcing-https-for-all-traffic-with-f5-irules": "/posts/2014/10/18/forcing-https-for-all-traffic-with-f5-irules/",
            "/post/30490209661/asynchronous-events-with-php-and-symfony2": "/posts/2012/07/10/asynchronous-events-with-php-and-symfony2/",
            "/post/103724682571/when-to-inject-the-container": "/posts/2014/11/27/when-to-inject-the-container/",
            "/post/30490176882/multiple-levels-of-embedded-documents-in-mongodb": "/posts/2010/07/27/multiple-levels-of-embedded-documents-in-mongodb/",
            "/post/76799775984/using-the-symfony-expression-language-for-a-reward": "/posts/2014/02/15/using-the-symfony-expression-language-for-a-reward/",
            "/post/55348342841/quotes-from-the-road-to-serfdom-by-friedrich-hayek": "/posts/2013/07/13/quotes-from-the-road-to-serfdom-by-friedrich-hayek/",
            "/post/31623163785/writing-a-parser-in-php-with-the-help-of-doctrine": "/posts/2012/09/15/writing-a-parser-in-php-with-the-help-of-doctrine/",
            "/post/30490180105/inheritance-and-mapped-super-classes-in-doctrine": "/posts/2010/07/28/inheritance-and-mapped-super-classes-in-doctrine/",
            "/post/55617183676/mongodb-php-mongodate-tricks": "/posts/2013/07/16/mongodb-php-mongodate-tricks/",
            "/post/54480997504/building-activity-streams": "/posts/2013/07/02/building-activity-streams/",
            "/post/73741567918/doctrine-is-not-just-an-orm-for-relational": "/posts/2014/01/18/doctrine-is-not-just-an-orm-for-relational/",
            "/post/54943645180/tracking-new-member-origination-with-symfony2": "/posts/2013/07/08/tracking-new-member-origination-with-symfony2/",
            "/post/30490170860/doctrine-mongodb-object-document-mapper-in": "/posts/2010/07/26/doctrine-mongodb-object-document-mapper-in/",
            "/post/30490181749/storing-files-with-mongodb-gridfs": "/posts/2010/07/27/storing-files-with-mongodb-gridfs/",
            "/post/30490183389/doctrine-mongodb-odm-schema-migrations": "/posts/2010/07/30/doctrine-mongodb-odm-schema-migrations/",
            "/post/103775047571/fixing-nginx-too-many-open-files-errors": "/posts/2014/11/27/fixing-nginx-too-many-open-files-errors/",
            "/post/30490175122/using-yql-to-get-geo-location-information-for-an": "/posts/2010/07/27/using-yql-to-get-geo-location-information-for-an/",
            "/post/31305747748/tumblr-code-syntax-highlighting": "/posts/2012/09/10/tumblr-code-syntax-highlighting/",
            "/post/30490207842/logging-mongodb-explains-in-symfony2": "/posts/2012/02/22/logging-mongodb-explains-in-symfony2/",
            "/post/30490211196/testing-query-counts-in-functional-web-tests-with": "/posts/2012/07/10/testing-query-counts-in-functional-web-tests-with/",
            "/post/168014035296/gmail-translation": "/posts/2017/11/29/gmail-translation/",
            "/post/30490205475/a-cool-script-for-running-phpunit-tests-in": "/posts/2011/10/29/a-cool-script-for-running-phpunit-tests-in/",
            "/post/30490190002/blending-the-doctrine-orm-and-mongodb-odm": "/posts/2010/08/25/blending-the-doctrine-orm-and-mongodb-odm/",
            "/post/76487435536/tailing-log-files-across-multiple-servers": "/posts/2014/02/12/tailing-log-files-across-multiple-servers/",
            "/post/30490201906/something-to-always-think-about": "/posts/2011/06/10/something-to-always-think-about/",
            "/post/30490186668/doctrine-annotations-library": "/posts/2010/08/02/doctrine-annotations-library/",
            "/post/30490173350/executing-sql-after-loading-your-data-fixtures-in": "/posts/2010/07/26/executing-sql-after-loading-your-data-fixtures-in/",
            "/post/30490193467/tips-on-being-successful-in-open-source": "/posts/2011/02/28/tips-on-being-successful-in-open-source/",
            "/post/31049115791/deploying-opensky-with-fabric": "/posts/2012/09/07/deploying-opensky-with-fabric/",
            "/post/32199136443/doctrine-common-library": "/posts/2012/09/24/doctrine-common-library/",
            "/post/30490178495/setting-entitydocument-references-without-hitting": "/posts/2010/07/28/setting-entitydocument-references-without-hitting/",
            "/post/42895003871/sunshinephp-miami": "/posts/2013/02/11/sunshinephp-miami/",
            "/post/30490185066/array-dereferencing-in-php-trunk": "/posts/2010/07/31/array-dereferencing-in-php-trunk/",
            "/post/30490188201/new-doctrine-mongodb-odm-documentation": "/posts/2010/08/19/new-doctrine-mongodb-odm-documentation/",
            "/post/92557031766/2014-vacation-books": "/posts/2014/07/22/2014-vacation-books/",
        };

        if (redirects.hasOwnProperty(window.location.pathname)) {
            window.location.href = redirects[window.location.pathname];
        }
    </script>
{% endblock %}
