---
layout: default
title: Articles
generator: [posts_category_index, pagination]
pagination:
        max_per_page: 10000
pagination:
        provider: page.category_posts

---

<h1><i class="fa fa-newspaper"></i> Articles</h1>

<p class="lead">Articles about PHP, Symfony, Doctrine and other technology related topics.</p>

<ul>
    {% for post in page.pagination.items %}
        {% if page.category in post.categories %}
            <li>
                <div><a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a></div>
                <small>Posted on {{ post.date|date('Y-m-d') }}</small>
            </li>
        {% endif %}
    {% endfor %}
</ul>
